#content {
  transition: transform 400ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transform: translate3d(0%,0,0);
}

.App.menu-open #content {
  transform: translate3d(-25%,0,0);
}

.content-header {
  color: white;
}

.content-header .content-header-container {
  height: 100%; width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.content-header .content-header-container .content-header-title {
  font-size: 72px;
  vertical-align: middle;
}

.content-header .content-header-radial {
  height: 100%; width: 100%;
  background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));
}
