.App.loading .loader-container {
  display: table;
}

.App.loading .loader-container .loader-inner {
  display: table-cell;
  vertical-align: middle;
}

.App.loading .loader-container .loader {
  display: table;
  margin: 0 auto;
}

.loader > div > div {
  border: 2px solid black;
}
